In [2]:
import pandas as pd

data = {
    "Date": pd.date_range(start="2025-06-01", periods=5, freq='D'),
    "Region": ["East", "West", "North", "South", "East"],
    "Salesperson": ["Ravi", "Neha", "Aman", "Priya", "Ravi"],
    "Product": ["Pens", "Notebooks", "Markers", "Staplers", "Pens"],
    "Units Sold": [150, 200, 100, 80, 170],
    "Unit Price": [10, 15, 20, 25, 10]
}

df = pd.DataFrame(data)
df["Total Sales"] = df["Units Sold"] * df["Unit Price"]
print(df)

        Date Region Salesperson    Product  Units Sold  Unit Price  \
0 2025-06-01   East        Ravi       Pens         150          10
1 2025-06-02   West        Neha  Notebooks         200          15
2 2025-06-03  North        Aman    Markers         100          20
3 2025-06-04  South       Priya   Staplers          80          25
4 2025-06-05   East        Ravi       Pens         170          10

   Total Sales
0         1500
1         3000
2         2000
3         2000
4         1700

In [3]:
print("Columns:", df.columns)

Columns: Index(['Date', 'Region', 'Salesperson', 'Product', 'Units Sold', 'Unit Price',
       'Total Sales'],
      dtype='object')

In [4]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         5 non-null      datetime64[ns]
 1   Region       5 non-null      object
 2   Salesperson  5 non-null      object
 3   Product      5 non-null      object
 4   Units Sold   5 non-null      int64
 5   Unit Price   5 non-null      int64
 6   Total Sales  5 non-null      int64
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 412.0+ bytes
None

In [5]:
print(df.describe())

                      Date  Units Sold  Unit Price  Total Sales
count                    5    5.000000    5.000000     5.000000
mean   2025-06-03 00:00:00  140.000000   16.000000  2040.000000
min    2025-06-01 00:00:00   80.000000   10.000000  1500.000000
25%    2025-06-02 00:00:00  100.000000   10.000000  1700.000000
50%    2025-06-03 00:00:00  150.000000   15.000000  2000.000000
75%    2025-06-04 00:00:00  170.000000   20.000000  2000.000000
max    2025-06-05 00:00:00  200.000000   25.000000  3000.000000
std                    NaN   49.497475    6.519202   577.061522

In [10]:
sales_by_region = df.groupby("Region")["Total Sales"].sum()
print("Sales by Region")
print(sales_by_region)

Sales by Region
Region
East     3200
North    2000
South    2000
West     3000
Name: Total Sales, dtype: int64