In [35]:
import pandas as pd
df = pd.read_excel('Dataset.xlsx')

In [36]:
df = df.dropna()
df["Total Sales"] = df["Units Sold"] * df["Unit Price"]

In [48]:
print("✅ Total Sales:", df["Total Sales"].sum())
print( )
print("📊 Average Sales by Region:")
print(df.groupby("Region")["Total Sales"].mean())
print( )
print("🏆 Top 2 Salespersons:")
print(df.groupby("Salesperson")["Total Sales"].sum().sort_values(ascending=False).head(2))
print( )
print("🧮 Units Sold Per Product:")
print(df.groupby("Product")["Units Sold"].sum())
print( )
print("🔍 Sales > ₹2000:")
print(df[df["Total Sales"] > 2000])
print( )
print("📈 Sorted by Total Sales:")
print(df.sort_values("Total Sales", ascending=False))

✅ Total Sales: 13350

📊 Average Sales by Region:
Region
East     1250.0
North    1450.0
South    1500.0
West     2475.0
Name: Total Sales, dtype: float64

🏆 Top 2 Salespersons:
Salesperson
Neha    4200
Aman    4050
Name: Total Sales, dtype: int64

🧮 Units Sold Per Product:
Product
Markers      165
Notebooks    330
Pens         360
Staplers      60
Name: Units Sold, dtype: int64

🔍 Sales > ₹2000:
        Date Region Salesperson    Product  Units Sold  Unit Price  \
1 2025-06-02   West        Neha  Notebooks         180          15
6 2025-06-07   West        Aman  Notebooks         150          15

   Total Sales
1         2700
6         2250

📈 Sorted by Total Sales:
        Date Region Salesperson    Product  Units Sold  Unit Price  \
1 2025-06-02   West        Neha  Notebooks         180          15
6 2025-06-07   West        Aman  Notebooks         150          15
2 2025-06-03  North        Aman    Markers          90          20
3 2025-06-04  South       Priya   Staplers          60          25
5 2025-06-06  South        Neha    Markers          75          20
4 2025-06-05   East        Ravi       Pens         130          10
0 2025-06-01   East        Ravi       Pens         120          10
7 2025-06-08  North        Ravi       Pens         110          10

   Total Sales
1         2700
6         2250
2         1800
3         1500
5         1500
4         1300
0         1200
7         1100