In [1]:
import pandas as pd

data = {
    "Name": ["Ravi", "Neha", "Aman", "Ravi", None],
    "Region": ["East", "West", "North", "East", "South"],
    "Sales": [500, 600, None, 500, 300]
}

df = pd.DataFrame(data)

print("Original Data:")
print(df)

Original Data:
   Name Region  Sales
0  Ravi   East  500.0
1  Neha   West  600.0
2  Aman  North    NaN
3  Ravi   East  500.0
4  None  South  300.0

In [8]:
df_clean = df.dropna()

print("After removing missing values:")
print(df_clean)

After removing missing values:
   Name Region  Sales
0  Ravi   East  500.0
1  Neha   West  600.0
3  Ravi   East  500.0

In [9]:
df_no_duplicates = df_clean.drop_duplicates()

print("After removing duplicates:")
print(df_no_duplicates)

After removing duplicates:
   Name Region  Sales
0  Ravi   East  500.0
1  Neha   West  600.0

In [11]:
east_data = df_no_duplicates[df_no_duplicates["Region"] == "East"]
print("Only East region sales:")
print(east_data)

Only East region sales:
   Name Region  Sales
0  Ravi   East  500.0

In [12]:
high_sales = df_no_duplicates[df_no_duplicates["Sales"] > 400]
print("Sales > 400:")
print(high_sales)

Sales > 400:
   Name Region  Sales
0  Ravi   East  500.0
1  Neha   West  600.0

In [13]:
sorted_sales = df_no_duplicates.sort_values(by="Sales", ascending=False)
print("Sorted by sales:")
print(sorted_sales)

Sorted by sales:
   Name Region  Sales
1  Neha   West  600.0
0  Ravi   East  500.0